<form {{action 'save' on="submit"}} accept-charset="utf-8" class="user-form">
    {{input type='text' placeholder=(t 'register.name') value=name required=true autocomplete="name"}}
    {{input type='email' placeholder=(t 'register.username') value=username required=true autocomplete="email"}}
    {{input type='password' placeholder=(t 'register.password') value=password required=true autocomplete="new-password"}}
    {{input type='password' placeholder=(t 'register.repassword') value=repassword required=true autocomplete="off"}}
    {{#if message}}
        <ul class='error'>
            {{{ message }}}
        </ul>
    {{/if}}
    <button>{{t 'register.button'}}</button>
</form>
