<form {{action 'save' on="submit"}} accept-charset="utf-8" class="user-form">
    {{input type='text' placeholder=(t 'user.name') value=user.name required=true autocomplete="name"}}
    {{input type='email' placeholder=(t 'user.username') value=user.email required=true autocomplete="email"}}
    {{input type='password' placeholder=(t 'user.password') value=password required=true autocomplete="new-password"}}
    {{input type='password' placeholder=(t 'user.repassword') value=repassword required=true autocomplete="off"}}
    <button>{{if user.isNew (t 'user.register') (t 'user.save')}}</button>
</form>
